// app variables and editor variables would be separated in real world scenario

$text-color: #050038;
$background-color: #f8f8f7;
$button-color: #4262ff;
$email-font-size: 14px;
$border-color: #c3c2cf;
$error-color: #d92929;
$tag-color: rgba(102, 153, 255, 0.2);

$font-family: 'Open Sans';

$prefix: 'editor-';
