@font-face {
  font-family: Klavika;
  src: url(./font/klavika-regular-webfont.woff) format('woff');
}

body {
  margin: 0;
  padding: 0;
  font-family: Klavika;
  box-sizing: border-box;
  background: #131313;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.main-container {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
